#mapa-Admin-mapbox{
    width: 90%;
    height: 50%;
    background-color: white;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


.marker {
  background-image: url('https://www.traveledmap.com/images/home/marker-traveled.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
